################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C-Sharp_BattleShips/FileContentIndex
/.vs/C-Sharp_BattleShips/CopilotIndices/17.14.670.39694
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/C-Sharp_BattleShips/v17
